.centered-text {
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: rgb(54, 26, 100);
}
body {
  background-color: rgb(158, 144, 196);
}
h3.centered-text {
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: blanchedalmond;
}
h5.intro {
  font-style: italic;
  font-weight: bold;
  color: indigo;
}
.centered-image {
  margin: auto;
  width: fit-content;
  height: auto;
  display: block;
}

.box {
  border: 9px solid rgb(196, 155, 206);
  padding: 15px;
  background-color: rgb(255, 249, 160);
  width: 100%;
  box-sizing: border-box;
}

.intense {
  font-style: italic;
}

.emphasize {
  color:darkmagenta;
  font-style: italic;
}

.box2 {
  border: 9px solid rgb(255, 204, 109);
  padding: 15px;
  background-color: rgb(194, 193, 253);
  width: 100%;
  box-sizing: border-box;
}

